
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: black; 
    color: whitesmoke;
    margin: 0;
}


/* Story */
main #story {
    border-radius: 10px;
    outline: 2px solid white; 
  outline-offset: 5px; 
}
#story {
    padding: 1.5vw;
}



#fit {
    Hieght: 100%;
    Width: 100%;
    padding: 0;
}
