body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: black; 
    color: whitesmoke;
    margin: 0;
}

main #story, main #storyPart2 {
    border-radius: 10px;
    outline: 2px solid white; 
    outline-offset: 5px; 
    padding: 1.5vw;
}

/*Continue Button */
#continueBtn {
    display: block;
    margin: 20px auto;
    padding: 15px 40px;
    font-size: 1.5rem; 
    font-weight: bold; 
    background-color: #e299a3;
    color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

/* Hover*/
#continueBtn:hover {
    background-color: #ff3b2f; /
    border-color: #ff1a0f; 
    transform: scale(1.1); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); 
}


#continueBtn:active {
    transform: scale(1); 
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); 
}
/*Read Your Story Button */
#scrollBtn {
    background-color: #ff6f61; 
    color: white; 
    border: none; 
    font-size: 1.5rem; 
    padding: 1rem 2rem; 
    border-radius: 30px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    transition: all 0.3s ease;
}

#scrollBtn:hover {
    background-color: #e65b54; 
    transform: scale(1.1); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); 
}

#scrollBtn:active {
    transform: scale(1); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}


h1 {
    font-family: "ruddy", sans-serif;
    font-weight: 700;
    font-style: normal;
}