
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa; 
    color: #333;
    margin: 0;
}

/* Header*/
header {
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: white;
    padding: 2vw;
}

/* Story */
main {
    padding: 2vw;
}
main #story {
    background: #ffffff;
    padding: 1.5vw;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #222;
    color: #ccc;
    font-size: 0.9;
}
footer p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2vw;
    }
    main #story {
        font-size: 1vw;
    }
}
